socrasynthLite

__pyache__


.DS_Store

.log

generation/openaiapi/result/*.csv
generation/openaiapi/result/*.log
generation/openaiapi/__pyache__
generation/openaiapi/.DS_Store
generation/openaiapi/__pycache__

generation/openaiapi/result/*